*{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}





:root{
    font-size: 64.5%;
    --base:#ffc600;
    --spacing:10px;
    --blur:10px;
}

.img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 750px;
}
.h1{
    color:var(--base);
}
body{
    font-size: 1.5rem;
    box-sizing: border-box;
    
}
.container{
    text-align: center;
    background-color: lightblue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 5rem;
    height: 100vh;
    padding: 1em 0;
    width: 100vw;
}
.controls{
    margin: 5rem 0;
}